/* @import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ================== VARIABLE CSS ================== */
:root {
  --green-color: #3cb815;
  --light-green-color: #c0eb7b;
  --orange-color: #f75f1d;
  --light-orange-color: #ff7e00;
  --text-color: #1a2428;
  --bg-color: #f3f2f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  background-color: var(--bg-color);
  /* font-family: "Spartan", sans-serif; */
  font-family: "Raleway", sans-serif;
}
body,
input,
textarea,
button {
  /* font-family: "Spartan", sans-serif; */
  font-weight: 400;
}
a {
  text-decoration: none;
  display: inline-block;
}
li {
  list-style-type: none !important;
}
img {
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
@keyframes ani01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
  padding: 0 15px;
}
.section-title h1 {
  display: inline-block;
  font-size: 40px;
  color: #000;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.section-title h1::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 80px;
  height: 3px;
  background-color: #ff9800;
}
.btn-01 {
  background-color: #ff9800;
  color: #fff;
  border: 2px solid transparent;
  padding: 10px 35px;
  border-radius: 30px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.5s ease;
}
.btn-01:hover {
  background-color: transparent;
  border-color: #ff9800;
  color: #ff9800;
}
.btn-01:focus {
  outline: none;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f3635;
  /* change if the mask should have another color then white */
  z-index: 1099;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/Movie\ countdown.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

/* Header */
/* .header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.5s ease;
}
.header .fixed {
  background-color: #fff;
  position: fixed;
}
.header .brand-name {
  padding: 10px 15px;
}
.header .brand-name a {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}
.header .fixed.brand-name a {
  color: #000;
}
.header .nav-toggle {
  width: 40px;
  height: 34px;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  display: none;
}
.header .fixed .nav-toggle {
  border-color: #000;
}
.header .nav-toggle span {
  height: 1px;
  display: block;
  width: 16px;
  background-color: #fff;
  position: relative;
  transition: all 0.5s ease;
}
.header .nav-toggle span::before,
.header .nav-toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
}
.header .fixed .nav-toggle span,
.header .fixed .nav-toggle::before,
.header .fixed .nav-toggle::after {
  background-color: #000;
}
.header .nav-toggle span::before {
  transform: translate(-6px);
}
.header .nav-toggle span::after {
  transform: translate(6px);
}
.header .nav {
  padding: 0 15px;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 30px;
}
.header .nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 25px 0;
  display: block;
  transition: all 0.5s ease;
}
.header .fixed .nav ul li a {
  color: #000;
}
.header .nav ul li a:hover,
.header .fixed .nav ul li a:hover {
  color: #ff9800;
} */

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  box-shadow: 0 8px 11px rgb(14 55 54 /15%);
  padding: 20px 100px;
  transition: 05s ease;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
  column-gap: 0.5rem;
}
.navbar {
  display: flex;
  column-gap: 0.5rem;
}
.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
}
.navbar a:hover,
.navbar .home-active {
  background: var(--green-color);
  border-radius: 5rem;
  color: var(--bg-color);
  transition: 0.5s;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* Home Section */
.home-section {
  min-height: 100vh;
  background-image: url(../img/moviebg.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding: 0 15px;
}
.home-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
  z-index: -1;
}
.home-section .shape-01 {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid #ff9800;
  right: 5%;
  top: 20%;
  animation: ani01 5s linear infinite;
}
.home-section .row {
  min-height: 100vh;
}
.home-section .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.home-section .home-content h4 {
  font-size: 20px;
  color: #fff;
  margin: 0;
}
.home-section .home-content h2 {
  font-size: 60px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 10px;
}
.home-section .scroll-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  animation: scrollDown 2s ease infinite;
  transition: 0.5s ease;
}
@keyframes scrollDown {
  0%,
  20%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.home-section .scroll-down i {
  font-size: 45px;
  opacity: 0.5;
  display: block;
  margin: 2px auto;
  color: #fff;
}

/* ============ About Section  ============*/
.about-section {
  padding: 80px 0;
}
.about-section .about-img {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}
.about-section .about-img .img-box {
  position: relative;
}
.about-section .about-img .img-box .shape-02 {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid #ff9800;
  left: 10px;
  top: 10px;
  animation: ani01 5s linear infinite;
}
.about-section .about-img .img-box img {
  width: 100%;
  display: block;
}
.about-section .about-content {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding: 0 15px;
}
.about-section .section-title {
  margin-bottom: 30px;
  padding: 0;
}
.about-section .about-content p {
  font-size: 16px;
  color: #555;
  line-height: 26px;
  margin: 0;
}
.about-section .about-content .stats .stat-box {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
  text-align: center;
  margin-top: 30px;
}
.about-section .about-content .stats .stat-box h2 {
  font-size: 40px;
  color: #000;
  margin: 0 0 5px;
}
.about-section .about-content .stats .stat-box h5 {
  font-size: 16px;
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
}
.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
.about-section .about-content .btn {
  margin-top: 30px;
}

/* ============ Categories Section  ============*/
.service-section {
  padding: 80px 0;
}
.service-section .service-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}
.service-section .service-item-inner {
  position: relative;
  overflow: hidden;
}
.service-section .service-item-inner img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}
.service-section .service-item-inner:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}
.service-section .service-item-inner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.service-section .service-item-inner:hover .overlay {
  background-color: transparent;
}

.service-section .service-item-inner .overlay h3 {
  color: #fff;
  font-size: 30px;
  margin: 0;
  text-align: center;
  transition: all 0.5s ease;
  text-transform: capitalize;
}
.service-section .service-item-inner .overlay:hover h4 {
  transform: translateX(30px);
  opacity: 0;
}

/* ============ Slider Section  ============*/
.slider-section {
  padding: 80px 0 0;
}
/* .slider-section .container-slider {
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
} */
.slider-section .slider-images {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 140px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-section .slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.slider-section .slider-images .slider-img {
  width: 110px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}
.slider-section .slider-images .slider-img:first-child,
.slider-section .slider-images .slider-img:last-child {
  height: 340px;
}
.slider-section .slider-images .slider-img:nth-child(2),
.slider-section .slider-images .slider-img:nth-child(6) {
  height: 410px;
}
.slider-section .slider-images .slider-img:nth-child(3),
.slider-section .slider-images .slider-img:nth-child(4),
.slider-section .slider-images .slider-img:nth-child(5) {
  height: 500px;
}
.slider-section .slider-images .slider-img h1 {
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: rotate(270deg);
  transition: 0.7s ease;
}
.slider-section .slider-images .slider-img .detail {
  position: absolute;
  bottom: 43px;
  left: 43px;
}
.slider-section .slider-images .slider-img .detail h2 {
  font-size: 26px;
  font-weight: 900;
  text-align: left;
  line-height: 44px;
  color: #cfcccc;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.slider-section .slider-images .slider-img .detail p {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  color: #9d9a9a;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.slider-section .slider-images .slider-img.active {
  width: 600px;
  height: 600px;
}
.slider-section .slider-images .slider-img.active h1 {
  display: none;
}
.slider-section .slider-images .slider-img.active .detail p,
.slider-section .slider-images .slider-img.active .detail h2 {
  display: block;
}

/* ============ Top-rated Section  ============*/
.work-section {
  padding: 80px 0 0;
}
.work-section .work-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}
.work-section .work-item-inner {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.work-section .work-item-inner img {
  width: 100%;
  display: block;
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.work-section .work-item-inner:hover img {
  filter: grayscale(100);
  transform: scale(1);
}
.work-section .work-item-inner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.work-section .work-item-inner:hover .overlay {
  opacity: 1;
}
.work-section .work-item-inner .overlay h4 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  transform: translateX(30px);
  transition: all 0.5s ease;
}
.work-section .work-item-inner:hover .overlay h4 {
  transform: translateX(0);
}

/* ============ light box  ============*/
.slidebox {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1099;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
  display: none;
}

.slidebox.open {
  display: flex;
}
.slidebox .slidebox-img {
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 40px 0;
}
.slidebox .img-box {
  position: relative;
  cursor: auto;
}
.slidebox .slidebox-close {
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 26px;
  cursor: zoom-out;
}
.slidebox .slidebox-caption {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slidebox .slidebox-caption .slidebox-category {
  padding-right: 50px;
}
.slidebox .slidebox-controls .prev,
.slidebox .slidebox-controls .next {
  position: absolute;
  height: calc(100% - 80px);
  top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.slidebox .slidebox-controls .prev {
  left: 0;
  width: 50%;
  justify-content: flex-start;
}
.slidebox .slidebox-controls .next {
  right: 0;
  width: 50%;
  justify-content: flex-end;
  padding-right: 5px;
}
.slidebox .slidebox-controls .prev i,
.slidebox .slidebox-controls .next i {
  color: #fff;
  font-size: 30px;
  padding: 5px;
  border-radius: 2px;
  display: inline-block;
  transition: all 0.5s;
}
.slidebox .slidebox-controls .prev:hover i,
.slidebox .slidebox-controls .next:hover i {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* ============ contact Section  ============*/
.contact-section {
  padding: 80px 0;
}
.contact-section .contact-img {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}
.contact-section .contact-img .img-box {
  padding: 200px 0;
  background-image: url(../img/cont2.png);
  background-size: cover;
  /* background-position: 550px; */
  background-position: center;
}
.contact-section .section-title {
  text-align: center;
}
.contact-section .section-title h1 {
  color: #fff;
}
.contact-section .section-title h1::before {
  background-color: #fff;
  left: 50%;
  margin-left: -40px;
}
.contact-section .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 65px;
}
.contact-section .contact-form .form {
  background-color: #f3f2f1;
  padding: 55px 40px;
  margin-top: -150px;
}
.contact-section .contact-form .form label {
  color: #000;
  font-weight: 500;
  display: block;
  margin: 0 0 5px;
}
.contact-section .contact-form .form .input-group {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.contact-section .contact-form .form .input-group.left,
.contact-section .contact-form .form .input-group.right {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact-section .contact-form .form .input-control {
  width: 100%;
  height: 45px;
  padding: 6px 0;
  color: #000;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
}
.contact-section .contact-form .form .input-control:focus {
  outline: none;
}
.contact-section .contact-form .form .form-btn {
  text-align: center;
}
.contact-section .contact-info {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 120px;
}
.contact-section .contact-info .info-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 40px;
}
.contact-section .contact-info .info-item h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

/* dialog */
.ui-dialog {
  border: 1px solid #000;
}

#dialog {
  border: none !important;
  background: #edebeb;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
}
.ui-dialog-titlebar {
  background-color: #727171;
}

.ui-button {
  border: none !important;
  padding: 8px 7px;
  margin-left: -4px;
  margin-bottom: 1px;
  margin-top: 0;
  cursor: pointer;
}
#dialog p {
  color: rgb(17, 17, 17);
  letter-spacing: rgb(107, 114, 128);
  line-height: 1.625;
}

/* social links */

/* Hover background colors */
.color-linkedin {
  background: #3b5998;
}
.color-telegram {
  background: #1ab7ea;
}
.color-whatsapp {
  background: #327e3b;
}
.color-instagram {
  background: #fd1d1d;
}

.color-whatsapp,
.color-linkedin,
.color-telegram;
.color-instagram {
  transition: all 0.2s ease-in;
}

.contact-section .social-links {
  margin: 10px auto;
}

.contact-section .social-links .button-group {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px;
  height: 50px;
  background-color: #8b8787;
  border-radius: 7px;
  padding: 4px;
}
.contact-section .social-links .button-group > div {
  cursor: pointer;
  flex: 1;
  background-image: linear-gradient(to top, #a89a9a70 0%, #303030b5 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  transition: 0.2s;
  font-size: 30px;
  text-align: center;
  box-shadow: inset 0 20px 4px -21px rgba(255, 255, 255, 0.4),
    0 19px 13px 0 rgba(0, 0, 0, 0.3);
  color: #181818;
  position: relative;
  z-index: 2;
}
.contact-section .social-links .button-group div .fa {
  color: #e3e1e1;
  /* background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); */
}
.contact-section .social-links .button-group > div:before {
  content: "";
  display: block;
  width: 0.8em;
  height: 0.8em;
  transition: 0.1s;
  /* background-image: radial-gradient(
    circle 30px at center,
    #edf0f1 0%,
    #b3e1ff 47%,
    #b3e1ff 100%
  ); */

  position: absolute;
  filter: blur(15px);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.contact-section .social-links .button-group > div:after {
  content: "";
  display: block;
  height: 70px;
  width: 1px;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: 0.2s;
  /* filter: blur(0px); */
  box-shadow: -75px 0 0px 0px rgba(179, 225, 255, 0.3),
    74px 0 0px 0px rgba(179, 225, 255, 0.35);
}

.contact-section .social-links .button-group > div.active {
  background-image: linear-gradient(to center, #353434 0%, #1d1d1d34 100%);
  box-shadow: inset 0 16px 14px -21px transparent,
    0 0px 13px 0 rgba(0, 0, 0, 0.3), inset 0 0 7px 2px rgba(0, 0, 0, 0.4);
  z-index: 0;
  color: #ccc;
}
.contact-section .social-links .button-group > div.active:before {
  width: 1em;
  height: 1em;
  opacity: 0.8;
}
.contact-section .social-links .button-group > div.active:after {
  opacity: 0;
}

.contact-section .social-links .button-group div:first-of-type {
  border-radius: 4px 0 0 4px;
}
.button-group div:first-of-type:after {
  box-shadow: -85px 0 18px 1px transparent, 83px 0 12px 1px #b3e1ff;
}
.contact-section .social-links .button-group div:last-of-type {
  border-radius: 0 4px 4px 0;
}
.contact-section .social-links .button-group div:last-of-type:after {
  box-shadow: -85px 0 18px 1px #b3e1ff, 83px 0 12px 1px transparent;
}

.copyright {
  border-top: 1px solid #c5c5c5;
  padding: 25px 15px;
  text-align: center;
  color: #555;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 1080px) {
  header {
    padding: 18px 60px;
  }
}
@media screen and (max-width: 991px) {
  header {
    padding: 18px 4%;
  }

  .home-section,
  .work-section,
  .service-section {
    padding: 0 10px;
    margin: 0;
  }
}
@media screen and (max-width: 852px) {
  header {
    padding: 12px 4%;
  }
  #menu-icon {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
    transition: all 0.2s ease;
    text-align: left;
  }
  .navbar a {
    padding: 1rem;
    margin: 1rem;
    display: block;
  }
  .navbar a:hover,
  .navbar .home-active {
    border-radius: 0.5rem;
    color: var(--bg-color);
  }
  .navbar.active {
    top: 100%;
  }
  .slider-section {
    padding: 0 10px;
  }
  .slider-section .slider-images {
    margin: 0;
  }
  .slider-section .slider-images .slider-img {
    width: 300px;
    margin: 0;
  }
  .slider-section .slider-images .slider-img:first-child,
  .slider-section .slider-images .slider-img:last-child {
    height: 180px;
  }
  .slider-section .slider-images .slider-img:nth-child(2),
  .slider-section .slider-images .slider-img:nth-child(6) {
    height: 180px;
  }
  .slider-section .slider-images .slider-img:nth-child(3),
  .slider-section .slider-images .slider-img:nth-child(4),
  .slider-section .slider-images .slider-img:nth-child(5) {
    height: 180px;
  }
  .slider-section .slider-images .slider-img.active img {
    width: 230px;
    height: 300px;
  }
  .slider-section .slider-images .slider-img h1 {
    font-size: 10px;
  }
  .slider-section .slider-images .slider-img.active h2 {
    margin-bottom: 15px;
  }
  .slider-section .slider-images .slider-img.active .detail p,
  .slider-section .slider-images .slider-img.active .detail h2 {
    width: 500px;
    font-size: 16px;
    position: absolute;
    bottom: -150px;
    left: -20px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 7px 0;
    position: fixed;
  }
  .header .nav {
    display: block !important;
  }
  /* .header .nav-toggle {
    display: flex;
    margin-right: 15px;
  } */
  /* .header .nav {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #fff;
    padding: 0;
    display: none;
  }
  .header .fixed .nav {
    border-top: 1px solid #ccc;
  }
  .header .nav ul li {
    display: block;
    margin-right: 25px;
  }
  .header .fixed .nav ul li a,
  .header .nav ul li a {
    color: #000;
    padding: 15px 0;
  } */
  .home-section .home-content h1 {
    font-size: 40px;
  }
  .about-section .about-img {
    margin-bottom: 30px;
  }
  .about-section .about-content,
  .about-section .about-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .slider-section {
    overflow: hidden;
  }

  .work-section .work-item,
  .service-section .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about-section .about-content .stats .stat-box h2 {
    font-size: 33px;
  }
  .about-section .about-content .stats .stat-box h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .home-section .home-content h1 {
    font-size: 25px;
    letter-spacing: 5px;
  }
  .about-section .about-content .stats .stat-box {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about-section .about-content .stats .stat-box h2 {
    font-size: 30px;
  }
  .about-section .about-content .stats .stat-box h5 {
    font-size: 16px;
  }
  .slider-section {
    overflow: hidden;
  }

  .contact-section .contact-info .info-item,
  .contact-section .contact-form .form .input-group.left,
  .contact-section .contact-form .form .input-group.right,
  .work-section .work-item,
  .service-section .service-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-section .contact-form {
    padding: 0 35px;
  }
  .contact-section .contact-form .form {
    padding: 55px 5px;
  }
}
